* {
  margin: 0;
  padding: 0;
}

.container1 {
  display: flex;
  justify-content: space-between;
}

.container2 {
  display: flex;
  justify-content: space-between;
}

.midcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item {
  background-color: #ff0037;
  color: #fff;
  font-size: 50px;
  padding: 20px;
  margin: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 100vh;
}
